/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #04446A;
  --primary-mute: #615efc17;
  --secondary: #1C608F;
  --accent: #d1d8c5;
  --black: #141a16;
  --white: #fff;
  --gray: #808080;
  --theme: #f5f5f5;
}

/* Comment */
/*
-- primary : #615EFC;
-- secondary: 7E8EF1;
-- accent : D1D8C5;
-- black : black;
--white: white;
-- gray: gray;
--theme: #f5f5f5;
*/

.dark {
  --primary: #615efc;
  --secondary: #7e8ef1;
  --accent: #d1d8c5;
  --black: #141a16;
  --white: #fff;
  --gray: #808080;
  --theme: #141a16;
}

.purple {
  --primary: #bf2ef0;
  --secondary: #ed3ef7;
  --accent: #feecb3;
  --black: #141a16;
  --white: #fff;
  --gray: #808080;
  --theme: #f5f5f5;
}

.orange {
  --primary: #ff9900;
  --secondary: #eec861;
  --accent: #d1d8c5;
  --black: #141a16;
  --white: #fff;
  --gray: #808080;
  --theme: #f5f5f5;
}

body {
  /* color: var(--primary);
  background: var(--primary); */
  font-family: Arial, Helvetica, sans-serif;
}




@layer utilities {}